# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------

NODE_ENV="development"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
DATABASE_URL="postgres://postgres:postgres@localhost:5432/app"
# Format: postgres://user:password@host:port/dbname
# With the MongoDB database connector uses transactions to support nested writes.
# Transactions require a replica set deployment. The easiest way to deploy a
# replica set is with Atlas. It's free to get started.
# Read more: https://www.mongodb.com/docs/atlas/getting-started/

# Format: redis://host:port
REDIS_URL="redis://localhost:6379"

# -----------------------------------------------------------------------------
# Authentication (Better-Auth)
# -----------------------------------------------------------------------------

BETTER_AUTH_SECRET="your_random_secret_here"
# Run the command `bun x @better-auth/cli@latest secret` to generate a random secret
BETTER_AUTH_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Docker build
# -----------------------------------------------------------------------------

NEXT_PUBLIC_STATIC_EXPORT="false"
# Set false to enable the docker deployment

# -----------------------------------------------------------------------------
# Analytics
# -----------------------------------------------------------------------------

NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""

# -----------------------------------------------------------------------------
# Telemetry
# -----------------------------------------------------------------------------
