# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

NEXT_PUBLIC_VERCEL_REVALIDATE_TIME=604800 # 7 days in seconds

NEXT_PUBLIC_STATIC_EXPORT=false
# To use docker, this option must be false

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
AUTH_REDIRECT_PROXY_URL="http://localhost:3000/api/auth"
# Read more: https://authjs.dev/reference/core#default-9

AUTH_SECRET=""
# Linux: `openssl rand -hex 33`

AUTH_GOOGLE_ID=""

AUTH_GOOGLE_SECRET=""

AUTH_GITHUB_ID=""

AUTH_GITHUB_SECRET=""

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
DATABASE_URL=""
# The MongoDB database connector uses transactions to support nested writes. Transactions require
#  a replica set deployment. The easiest way to deploy a replica set is with Atlas. It's free to get started.
# Read more: https://www.mongodb.com/docs/atlas/getting-started/

# -----------------------------------------------------------------------------
# Google Analytics
# -----------------------------------------------------------------------------

NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""